body {
font-family: 'Nunito', sans-serif;
color: white;
background-color: rgb(20,20,20)
}
.center {
  text-align: center;
}
button {
  background-color: rgb(30,30,30);
  border: 0px;
  color: white;
  cursor: pointer;
}